* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Menu de navegacion 1*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #222222;
}

.logo {
    max-width: 9rem;
    transition: all 0.5s;
}

.logo:hover {
    transform: scale(1.2);
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    margin-right: 100px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: all 0.5s;
}

.nav-list li a:hover {
    transform: scale(1.2);
    color: #008BD1;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

/*MENU HAMBURGUESA(tablet)*/

@media screen and (max-width: 992px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #008BD1;
        max-width: 10rem;
    }

    .cerrar-menu {
        color: #008BD1;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #008BD1;
    }
}

/*MENU HAMBURGUESA (mobil)*/
@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #008BD1;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 5px 30px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
        align-items: center;
        margin-left: 6rem;
        margin: 20px;
    }

    .nav-list li a {
        color: #008BD1;
        margin-right: 10px 20px;
    }
}

/*BANNER PRINCIPAL INICIO*/

.banner {
    display: grid;
    place-items: center;
    background-image: radial-gradient(circle at 50% -20.71%, #8bbae4 0, #5da2db 25%, #008ad1 50%, #0072c7 75%, #005cbd 100%);
}

.logo-banner {
    max-width: 20rem;
    margin-top: 5rem;
}
/*EFECTO MAQUINA DE ESCRIBIR*/
h1{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    font-weight: 100;
    font-size: 35PX;
    color: #fff;
    
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow:hidden;
    }
    
    @keyFrames typing {
    
    from { width: 0}
    }
    
    @keyFrames blink {
     50% { border-color: transparent}
    }

.color-elemento {
    color: #222222;
}

.parrafo {
    margin: 0 15%;
    padding-bottom: 18%;
    font-weight: 100;
}
.color-stack {
    color: #fff;
}

/*SECCION INSTALACION*/

.titulo-instalacion {
    display: grid;
    place-content: center;
    margin: 6rem 0 4rem;
    font-size: 50px;
}

@media screen and (max-width:550px){
    .logo-banner{
        max-width: 15rem;
        margin-top: 2rem;
    }
    .parrafo {
        margin: 0 40px;
    }

    .titulo-instalacion {
        font-size: 23px;
    }
}

    





